.threed-cloud-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
}

.three-d-item {
  will-change: transform, opacity, filter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
}
